.zoom-01 { font-size: 0.1em !important; line-height: 1.5 !important; }
.zoom-02 { font-size: 0.2em !important; line-height: 1.5 !important; }
.zoom-03 { font-size: 0.3em !important; line-height: 1.5 !important; }
.zoom-04 { font-size: 0.4em !important; line-height: 1.5 !important; }
.zoom-05 { font-size: 0.5em !important; line-height: 1.5 !important; }
.zoom-06 { font-size: 0.6em !important; line-height: 1.5 !important; }
.zoom-07 { font-size: 0.7em !important; line-height: 1.5 !important; }
.zoom-08 { font-size: 0.8em !important; line-height: 1.5 !important; }
.zoom-09 { font-size: 0.9em !important; line-height: 1.5 !important; }
.zoom-10 { font-size: 1.0em !important; line-height: 1.2 !important; }
.zoom-11 { font-size: 1.1em !important; line-height: 1.2 !important; }
.zoom-12 { font-size: 1.2em !important; line-height: 1.2 !important; }
.zoom-13 { font-size: 1.3em !important; line-height: 1.2 !important; }
.zoom-14 { font-size: 1.4em !important; line-height: 1.2 !important; }
.zoom-15 { font-size: 1.5em !important; line-height: 1.2 !important; }
.zoom-16 { font-size: 1.6em !important; line-height: 1.2 !important; }
.zoom-17 { font-size: 1.7em !important; line-height: 1.2 !important; }
.zoom-18 { font-size: 1.8em !important; line-height: 1.1 !important; }
.zoom-19 { font-size: 1.9em !important; line-height: 1.1 !important; }
.zoom-20 { font-size: 2.0em !important; line-height: 1.1 !important; }
.zoom-21 { font-size: 2.1em !important; line-height: 1.1 !important; }
.zoom-22 { font-size: 2.2em !important; line-height: 1.1 !important; }
.zoom-23 { font-size: 2.3em !important; line-height: 1.1 !important; }
.zoom-24 { font-size: 2.4em !important; line-height: 1.1 !important; }
.zoom-25 { font-size: 2.5em !important; line-height: 1.1 !important; }
.zoom-26 { font-size: 2.6em !important; line-height: 1.1 !important; }
.zoom-27 { font-size: 2.7em !important; line-height: 1.1 !important; }
.zoom-28 { font-size: 2.8em !important; line-height: 1.1 !important; }
.zoom-29 { font-size: 2.9em !important; line-height: 1.1 !important; }
.zoom-30 { font-size: 3.0em !important; line-height: 1.1 !important; }
.zoom-31 { font-size: 3.1em !important; line-height: 1.1 !important; }
.zoom-32 { font-size: 3.2em !important; line-height: 1.1 !important; }
.zoom-33 { font-size: 3.3em !important; line-height: 1.1 !important; }
.zoom-34 { font-size: 3.4em !important; line-height: 1.1 !important; }
.zoom-35 { font-size: 3.5em !important; line-height: 1.1 !important; }
.zoom-36 { font-size: 3.6em !important; line-height: 1.1 !important; }
.zoom-37 { font-size: 3.7em !important; line-height: 1.1 !important; }
.zoom-38 { font-size: 3.8em !important; line-height: 1.1 !important; }
.zoom-39 { font-size: 3.9em !important; line-height: 1.1 !important; }
.zoom-40 { font-size: 4.0em !important; line-height: 1.1 !important; }
.zoom-41 { font-size: 4.1em !important; line-height: 1.1 !important; }
.zoom-42 { font-size: 4.2em !important; line-height: 1.1 !important; }
.zoom-43 { font-size: 4.3em !important; line-height: 1.1 !important; }
.zoom-44 { font-size: 4.4em !important; line-height: 1.1 !important; }
.zoom-45 { font-size: 4.5em !important; line-height: 1.1 !important; }
.zoom-46 { font-size: 4.6em !important; line-height: 1.1 !important; }
.zoom-47 { font-size: 4.7em !important; line-height: 1.1 !important; }
.zoom-48 { font-size: 4.8em !important; line-height: 1.1 !important; }
.zoom-49 { font-size: 4.9em !important; line-height: 1.1 !important; }
.zoom-50 { font-size: 5.0em !important; line-height: 1.1 !important; }
.zoom-51 { font-size: 5.1em !important; line-height: 1.1 !important; }
.zoom-52 { font-size: 5.2em !important; line-height: 1.1 !important; }
.zoom-53 { font-size: 5.3em !important; line-height: 1.1 !important; }
.zoom-54 { font-size: 5.4em !important; line-height: 1.1 !important; }
.zoom-55 { font-size: 5.5em !important; line-height: 1.1 !important; }
.zoom-56 { font-size: 5.6em !important; line-height: 1.1 !important; }
.zoom-57 { font-size: 5.7em !important; line-height: 1.1 !important; }
.zoom-58 { font-size: 5.8em !important; line-height: 1.1 !important; }
.zoom-59 { font-size: 5.9em !important; line-height: 1.1 !important; }
.zoom-60 { font-size: 6.0em !important; line-height: 1.1 !important; }

div.asciinema-player {
  box-shadow:0 10px 16px 10px rgba(0,0,0,0.2), 0 6px 20px 10px rgba(0,0,0,0.19) !important;
}

.pre-code-noshadow { box-shadow: none !important; }
.pre-code-max { width: 98% !important; margin: 1px auto !important; }
.code-noscroll { overflow: hidden !important; }
.code-wrap { white-space: pre-wrap; }

code.code-font-fira-code          { font-family: 'Fira Code Medium'; }
code.code-font-victor-mono-italic { font-family: 'Victor Mono Italic Medium'; }
code.code-font-victor-mono        { font-family: 'Victor Mono Medium'; }
code.code-font-iosevka            { font-family: 'Iosevka Medium'; }
code.code-font-inconsolata        { font-family: 'Inconsolata Medium'; }
code.code-font-source-code-pro    { font-family: 'Source Code Pro Medium'; }

code.code-line-numbers {
  counter-reset: line_numbers;
}
code.code-line-numbers span.line-number {
  counter-increment: line_numbers;
  margin-right: 1em;
}
code.code-line-numbers span.line-number:before {
  content: counter(line_numbers, decimal-leading-zero);
  color: gray;
}

div.audio-deck-icon {
    color: #E58537;
	position: fixed;
	left: 20px;
	bottom: 20px;
	z-index: 100;
    animation: shake-headphones 1.0s;
    animation-iteration-count: 5;
}

div.audio-deck-controls {
	position: fixed;
	left: 70px;
	bottom: 22px;
	z-index: 99;
}

div.audio-deck-controls > audio {
    opacity: 0.0;
    width: 200px;
    height: 40px;
}

div.audio-deck-controls:hover > audio {
    opacity:1;
    width: 200px;
}

div.audio-deck-icon:hover + div.audio-deck-controls > audio {
  opacity: 1;
}

.shake-headphones{-webkit-animation:shake-headphones .7s cubic-bezier(.455,.03,.515,.955) both;animation:shake-headphones .7s cubic-bezier(.455,.03,.515,.955) both}
@-webkit-keyframes shake-headphones{0%,100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}10%{-webkit-transform:rotate(8deg);transform:rotate(8deg)}20%,40%,60%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}30%,50%,70%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}80%{-webkit-transform:rotate(-8deg);transform:rotate(-8deg)}90%{-webkit-transform:rotate(8deg);transform:rotate(8deg)}}@keyframes shake-headphones{0%,100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}10%{-webkit-transform:rotate(8deg);transform:rotate(8deg)}20%,40%,60%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}30%,50%,70%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}80%{-webkit-transform:rotate(-8deg);transform:rotate(-8deg)}90%{-webkit-transform:rotate(8deg);transform:rotate(8deg)}}
